* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body {
    background-image: url(./Cloudy-Bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

::selection {
    color: #fff;
    background: #43AFFC;
}

/* Navbar Style */
#app_name {
    font-weight: 700;
    font-size: 18px;
}

#app_name span {
    font-weight: 600;
    font-size: 22px;
    color: orange;
}

/* /Navbar */

section {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home-head-card {
    display: flex;
    font-size: 21px;
    font-weight: 600;
    color: #43AFFC;
    padding: 10px 15px;
}

.weather-part {
    /* display: none;*/
    /*   --------------> */
    margin: 20px 0 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.wrapper.active .weather-part {
    display: flex;
}

.weather-part img {
    max-width: 125px;
}

.weather-part .temp {
    display: flex;
    font-weight: 500;
    font-size: 72px;
}

.weather-part .temp .numb {
    font-weight: 600;
}

.weather-part .temp .deg {
    font-size: 40px;
    display: block;
    margin: 10px 5px 0 0;
}

.weather-part .weather {
    font-size: 21px;
    text-align: center;
    margin: -5px 20px 15px;
}

.weather-part .location {
    display: flex;
    font-size: 19px;
    padding: 0 20px;
    text-align: center;
    margin-bottom: 30px;
    align-items: flex-start;
}

.location i {
    color: #5DBBFF;
    font-size: 27px;
    margin: 0px 5px 0 0;
}

.weather-part .bottom-details {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-top: 1px solid #ccc;
}

.bottom-details .column {
    display: flex;
    width: 100%;
    padding: 10px 0;
    align-items: center;
    justify-content: center;
}

.column i {
    color: #5DBBFF;
    font-size: 40px;
}

.column.humidity {
    border-left: 1px solid #ccc;
}

.column .details {
    margin-left: 3px;
}

.details .temp,
.humidity span {
    font-size: 18px;
    font-weight: 500;
    margin-top: -3px;
}

.details .temp .deg {
    margin: 0;
    font-size: 17px;
    padding: 0 2px 0 1px;
}

.column .details p {
    font-size: 14px;
    margin-top: -6px;
}

.humidity i {
    font-size: 37px;
}

.Weather_Item i {
    color: #5DBBFF;
    font-size: 25px;
    margin-right: 5px;
}

#date-time i {
    color: #5DBBFF;
    font-size: 20px;
    margin-right: 5px;
}


#Forecast_Container {
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    background-color: hsla(211, 67%, 33%, 0.267);
}

#forecast-icon i {
    color: #5DBBFF;
    font-size: 24px;
    margin-right: 5px;
}

/* Footer styles */
.App_Icon {
    width: 40px;
}

footer {
    width: 100%;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3em;
    padding: 0.5em;
    font-family: sans-serif;
}

footer .App-Logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0em;
    width: 30%;
    height: 100%;
}

footer .DesignerInfo {
    width: 50%;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0em;
}

footer .DesignerInfo #Name {
    color: orange;
    font-weight: 600;
    font-size: 20px;
}

footer .SocialMedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1em;
    width: 20%;
    height: 100%;
}

footer .SocialMedia a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0em;
    border: 1px solid orange;
    border-radius: 50%;
    padding: 0.5em;
    color: white;
}

footer .SocialMedia a:hover i {
    transform: scale(1.3);
    color: orange;
}

/* //Footer styles */